* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body {
    font-family: Verdana, sans-serif;
    font-size: 15px;
}

p {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

:root {
    --green: #009688;
    --border: #ccc;
}

/*--------------- MOBILE STYLE ----------*/
.col-l-1 {
    width: 8.33%;
}

.col-l-2 {
    width: 16.66%;
}

.col-l-3 {
    width: 25%;
}

.col-l-4 {
    width: 33.33%;
}

.col-l-5 {
    width: 41.66%;
}

.col-l-6 {
    width: 50%;
}

.col-l-7 {
    width: 58.33%;
}

.col-l-8 {
    width: 66.66%;
}

.col-l-9 {
    width: 75%;
}

.col-l-10 {
    width: 83.33%;
}

.col-l-11 {
    width: 91.66%;
}

.col-l-12 {
    width: 100%;
}

/*----------------TOTaL SYLE------------*/
.d-flex {
    display: flex;
}

.flex-wrap {
    flex-wrap: wrap;
}

.justify-content-center {
    justify-content: center;
}

.align-items-center {
    align-items: center;
}

.flex-direction-col {
    flex-direction: column;
}

.text-align-center {
    text-align: center;
}

.p-1 {
    padding: 0.5rem 1rem;
}

.pr-05 {
    padding-right: 0.5rem;
}

.pl-r-1 {
    padding: 0 1rem;
}

.pr-1 {
    padding-right: 1rem;
}

.pl-1 {
    padding-left: 1rem;
}

.pt-1 {
    padding-top: 1rem;
}

.pb-1 {
    padding-bottom: 1rem;
}

.pt-64px {
    padding-top: 64px;
}

.pb-64px {
    padding-bottom: 64px;
}

.mb-1 {
    margin-bottom: 1rem;
}

.mt-1 {
    margin-top: 1rem;
}

.opacity-06 {
    opacity: 0.6;
}

.font-size-24 {
    font-size: 24px;
}

.row-gap-20 {
    row-gap: 20px;
}

/*----------------SPECIFIC SYLE------------*/
.header {
    position: relative;
}

.header-image img {
    width: 100%;
    min-height: 300px;
    max-height: 600px;
    z-index: 1;
}

.navbar {
    display: flex;
    position: absolute;
    /* overflow: hidden; */
    top: 0px;
    background-color: black;
    width: 100%;
    color: #fff;
    z-index: 2;
}

.navbar a {
    color: #fff;
    text-decoration: none;
}

.navbar .icon {
    display: none;
}

#show-mobile {
    display: none;
}

.logo {
    background-color: var(--green);
}

.dropdown {
    /* position: relative; */
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    color: black;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    padding: 12px 16px;
    z-index: 20;
    margin-top: 8px;
    left: 0px
}

.dropdown:hover {
    background-color: gainsboro;
    color: #000;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.search-icon {
    align-items: center;
    margin-left: auto;
    display: flex;
    justify-content: end;
}

.w3-btn {
    position: absolute;
    bottom: 0px;
    left: 0px;
    margin-bottom: 16px;
    margin-left: 16px;
}

.w3-btn button {
    padding: 8px 16px;
    background-color: black;
    color: #fff;
}

.modal-class {
    position: absolute;
    bottom: 16px;
}

.modal-class button {
    font-size: 24px;
}

.modal-class button:hover {
    background-color: var(--green) !important;
    color: #fff !important;
}

.w3-display-topright {
    color: white !important;
    font-weight: bold !important;
}

.w3-modal-content {
    background-color: var(--green) !important;
}

.modal-padding {
    padding: 0px !important;
}

.modal-header {
    color: #fff;
}

.modal-container {
    background-color: #fff !important;
}

.modal-container a {
    color: var(--green) !important;
}

.modal-footer {
    color: #fff;
}

.avatar {
    width: 25%;
}

.avatar img {
    border-radius: 50%;
    width: 45%;
}

.our-work-section {
    background-color: #333333;
    color: #fff;
}

.card {
    background-color: #fff;
    color: #000;
    transition: 0.3s;
}

.container {
    padding: 2px 16px;
}

.add-button-slider-container {
    position: relative;

}

.add-button-slider {
    font-size: 24px;
    color: #000;
    top: 0px;
    z-index: 2;
    width: 300px !important;
    height: 100%;
    background-color: #fff;
    position: fixed !important;
    overflow: auto;
}

.add-button-slider button {
    color: var(--green);
    padding-bottom: 3rem !important;
    background-color: #fff !important;
}

.add-btn {
    position: absolute;
    top: -28px;
    right: 24px;
}

.add-btn button {
    background-color: var(--green);
    border: 1px solid var(--green);
    border-radius: 50%;
    color: #fff;
}

.add-btn button:hover {
    background-color: var(--green) !important;
    color: #fff !important;
}

ul {
    list-style: none;
}

.pricing-col {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.pricing-col:hover {
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2), 0 4px 20px 0 rgba(0, 0, 0, 0.19);
}

.list-title {
    background-color: #000;
    color: #fff;
}

.second-col {
    background-color: #666;
}

.pricing-col ul {
    border: 1px solid var(--border);
    padding: 0px;
    margin: 0px;
}

.pricing-col ul li {
    padding: 8px 16px;
    border-bottom: 1px solid var(--border);
}

.pricing-col ul li:last-child {
    border-bottom: none;
    padding-top: 24px;
    padding-bottom: 24px;
    background-color: #f0f0f0;
}

.pricing-col ul li:last-child button {
    background-color: var(--green);
    border: 1px solid var(--green);
    color: #fff;
    padding: 12px 24px;
}

.contact-us {
    background-color: #f0f0f0;
    color: #000;
    padding: 64px 16px;
}

.contact-us span {
    border-bottom: 6px solid var(--green);
}

.contact-us i {
    color: var(--green);
}

.form-section form {
    background-color: #fff;
    box-shadow: 0 4px 10px 0 rgb(0 0 0 / 20%), 0 4px 20px 0 rgb(0 0 0 / 19%);
    padding: 1rem;
}

.form-section-input {
    display: block;
    padding: 8px;
    width: 100%;
    border: none;
    border-bottom: 1px solid var(--border);
}

.checkbox {
    display: flex;
    align-items: center;
}

.checkbox input {
    width: auto;
    display: inline-block;
    width: 24px;
    height: 24px;
    margin-right: 5px;
}

.checkbox button {
    margin-left: auto;
    background-color: #000;
    color: #fff;
    border-radius: 0px;
    border: none;
}

.map {
    width: 100%;
}

footer {
    background-color: #000;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 32px 16px;
}

.social {
    padding: 8px 16px;
    background-color: var(--green);
    margin: 0px 5px;
}


@media screen and (max-width: 600px) {
    #show-desk {
        display: none;
    }

    #show-mobile {
        display: flex;

        background-color: #000;
    }
    .search{
        display: inline-block;
    }

    .dropdown {
        /* position: relative; */
        margin-left: auto;
        padding-right: 1rem;
        display: flex;
        align-items: center;
    }

    .dropdown-content {
        display: none;
        position: absolute;
        background-color: #f9f9f9;
        color: #000;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        padding: 12px 16px;
        z-index: 1;
        top: 30px;
        width: 100%;
        background-color: #000;
        display: flex;
        flex-direction: column;
    }

    .dropdown:hover .dropdown-content {
        display: block;
    }

    .col-1 {
        width: 8.33%;
    }

    .col-2 {
        width: 16.66%;
    }

    .col-3 {
        width: 25%;
    }

    .col-4 {
        width: 33.33%;
    }

    .col-5 {
        width: 41.66%;
    }

    .col-6 {
        width: 50%;
    }

    .col-7 {
        width: 58.33%;
    }

    .col-8 {
        width: 66.66%;
    }

    .col-9 {
        width: 75%;
    }

    .col-10 {
        width: 83.33%;
    }

    .col-11 {
        width: 91.66%;
    }

    .col-12 {
        width: 100%;
    }

}